.git
.github
vendor
node_modules
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
storage/*.key
database/database.sqlite
database/database.sqlite-journal
